<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="repeat.js" charset="utf-8"></script>
    <style media="screen">
      body {font-size: 1.2em; }
    </style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>
      <h3>Shopping List:</h3>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList1 | filter : search">{{ item }}</li>
      </ul>
    </div>
  </body>
</html>
